{{!< default}}

<header id="post-header" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}  data-stellar-background-ratio="0.5" data-stellar-horizontal-offset="50" data-stellar-vertical-offset="50">
	<a href="/" id="blog-title">{{@blog.title}}</a>
	{{> links}}
	
	<div class="cf"></div>
	
	{{#post}}
	
	<div id="title">
		<h1>{{title}}</h1>
		<h2>{{date published_at format="MMMM DD, YYYY"}}</h2>
	</div>
</header>

<div class="container" id="content" role="main">

    <article class="{{post_class}}" id="post-{{id}}">
		{{content}}
    </article>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'tru2dagame'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	
	{{/post}}

</div>
